h1{
    text-align: center;

}
.mission{
    text-align: center;
}
.vision{
    text-align: center;
}
.core{
    text-align: center;
}
body{
    background-color:cornsilk;
}
.form{
    text-align: center;
    color: blueviolet;
    text-decoration: brown;
    font-size: auto;
}
.type ,.button{
    text-align: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}