.make{
    animation: bounce 3s infinite;
    text-align: center;
    font-style: oblique;
    color: orangered;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-35px);
    }
    60% {
      transform: translateY(-20px);
    }
  
  }
  

  #contact h2{
    text-align: center;
  }
  
  #contactdetails h2{
    text-align: left;
  }
  #contact{
    color:whitesmoke;
    background-color:black;
    padding: 100px;
    margin-top: 10px;
    margin-bottom:0%;
    position: abosolute;
    text-align: center;
  
    }